@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.button {
    border-radius: 8px;
    box-shadow: 0 2px 7px 0 #b0eaff;
    background-color: #47cdff;
}


.buttonA {
    background: #1a202c;
}

.buttonB {
    @extend .buttonA;
    color: #cbd5e0;
}
